# GUI directories
.DS_Store
.vscode
.cproject
.project
.settings
*.user

# install directories
bin
lib
build

# input output and test directories
Input
Output
Tests

# intermediate or binary results
*.d
*.so
*.pcm
*.log
*.root

# local directories and files
Home
TESTSBF
